body {
  color: white;
  font-family: comic-relief-regular;
}
h1 {
  text-align: center;
  color: white;
}
p {
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.badges {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.text {
  display: flex;
  justify-content: flex-start;
}

/* comic-relief-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comic Relief';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/comic-relief-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/comic-relief-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/comic-relief-v2-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/comic-relief-v2-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/comic-relief-v2-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/comic-relief-v2-latin-regular.svg#ComicRelief') format('svg'); /* Legacy iOS */
}

/* comic-relief-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comic Relief';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/comic-relief-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: url('/fonts/comic-relief-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/comic-relief-v2-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/comic-relief-v2-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/comic-relief-v2-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/comic-relief-v2-latin-700.svg#ComicRelief') format('svg'); /* Legacy iOS */
}

