body {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  color: white;
}
p {
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.badges {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.text {
  display: flex;
  justify-content: flex-start;
}
