body {
  color: white;
  font-family: 'Comic Relief';
  text-align: center;
}
h1 {
  text-align: center;
  color: white;
}
p {
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}
.text {
  float: left;
}
.badges {
  float: right;
}


/* comic-relief-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comic Relief';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/comic-relief-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* comic-relief-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comic Relief';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/comic-relief-v2-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
